<%= render "shared/modal1", title: "Kullanici" do %>
  <div class="card" style="">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <div class="col-4">ID:</div>
        <div class="col-8"><%= @user.id %></div>
      </li>
      <li class="list-group-item d-flex">
        <div class="col-4">Adi:</div>
        <div class="col-8"><%= @user.try(:name) %></div>
      </li>
      <li class="list-group-item d-flex">
        <div class="col-4">Kullanici Adi:</div>
        <div class="col-8"><%= @user.try(:username) %></div>
      </li>
    </ul>
  </div>
<% end %>
