<%= render "shared/modal1", title: "Departman" do %>
  <div class="card" style="">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <div class="col-4">ID:</div>
        <div class="col-8"><%= @department.id %></div>
      </li>
      <li class="list-group-item d-flex">
        <div class="col-4">Adi:</div>
        <div class="col-8"><%= @department.try(:name) %></div>
      </li>
      <li class="list-group-item d-flex">
        <div class="col-4">Aciklama:</div>
        <div class="col-8"><%= @department.try(:description) %></div>
      </li>
    </ul>
  </div>
<% end %>
